body{
    background:url("img/grungy-white-background-natural-cement-stone-old-texture-as-retro-pattern-wall-conceptual-wall-banner-grunge-material-construction.jpg");
    width:100 vh;
    margin-top: 0;
    /* padding:10px; */
    font-family:serif;
}
.container{
    /* margin:0; */
    width:80%;
    margin: auto;
    max-width:700px;
}
#navigation{
    background-color: rgb(218, 215, 212);
    width:100%;
    border-bottom: 15%;
    text-align: center;
    position: fixed;
    /* margin-bottom: 55%; */
    min-width:700px ;
}
ul li{
    color:white;
    background-color: rgb(253, 249, 246);
    list-style: none;
    display: inline;
    padding:5px 10px;
    margin:10px;
    border:2px solid rgb(218, 207, 207);
    border-radius: 5px;
    
}
a{
    text-decoration: none;
    font-size: 18px;
    color:black;
}
a:active
{
    color:white;
}
a:hover{
    color:brown;
}
img{
    margin:10px auto;
    width:50%;
    display: block;
    border-radius: 5px;
    box-shadow: 10px 4px 8px 8px rgb(114, 114, 107);
}
figcaption{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
h1{
    padding-top: 10%;
    padding-bottom: 5px;
    width:70%;
    text-align: center;
    margin: auto;
}

p,li{
    list-style-type: none;
    text-align: justify;
    text-indent:10%;
    font-size: 16px;
    font-weight: lighter;
    color:black;
}
#footer{
    background-color: rgb(135, 68, 0);
    width:100px;
    border-bottom: 15%;
    text-align: center;
    position: fixed;
    /* margin-bottom: 55%; */
    min-width:700px ;
}